<h1>image upload</h1>

<%= form_for(@dodesu) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.submit 'upload' %>
  </div>
  <div class="actions">
  </div>
<% end %>
