<%- model_class = Dodesu -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_dodesu_path,
            :class => 'btn btn-primary' %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:image_content_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dodesus.each do |dodesu| %>
      <tr>
        <td><%= dodesu.name %></td>
        <td><%= link_to image_tag(thumbnail_image_dodesu_path(dodesu)), dodesu_path(dodesu) %></td>
        <td><%= dodesu.image_content_type %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_dodesu_path(dodesu), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      dodesu_path(dodesu),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

