<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dodesu.name %>
</p>

<p>
  <strong>IMAGE:</strong>
  <%= image_tag image_dodesu_path(@dodesu) %>
</p>

<%= link_to 'Edit', edit_dodesu_path(@dodesu) %> |
<%= link_to 'Back', dodesus_path %>
