<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dodesu.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dodesu.image %>
</p>

<%= link_to 'Edit', edit_dodesu_path(@dodesu) %> |
<%= link_to 'Back', dodesus_path %>
