<h1>Listing dames</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Image content type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dames.each do |dame| %>
      <tr>
        <td><%= dame.id %></td>
        <td><%= image_tag image_dame_path(dame) %></td>
        <td><%= link_to 'Show', dame %></td>
        <td><%= link_to 'Edit', edit_dame_path(dame) %></td>
        <td><%= link_to 'Destroy', dame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dame', new_dame_path %>
